.container-fluid{
    background-color:rgb(241, 106, 131);
    position: fixed;
    margin-top:50px;
    margin-left:100px;
}
.navbar-nav{
    margin-left:900px;
    gap:15px;
    padding:22px;
    right: 0;
    position: fixed;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    color:rgb(5, 82, 5);
}
ul li a:hover{
    color:red;
}
 b{  
    color: rgb(1, 92, 1);
     font-size:60px;
     margin-left: 60px;
}
.box4{
    height:100%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    padding-left:280px;
    margin: auto;
    gap:30px;
    margin-top:2px;
    background-color:rgb(228, 197, 207);
   
}

.box5{
    margin-top: 100px;
  height:340px;
  width:300px;
  border: 1px solid rgb(173, 166, 166);
  background-color:whitesmoke;
  border-radius:50px;
  border: none;
  margin-bottom: 10px;

}
.box7{
    height:340px;
  width:300px;
  border: 1px solid rgb(173, 166, 166);
background-color:whitesmoke;
border-radius:50px;
margin-top: 10px;
border: none;
}
.box6{
    display: flex;
    padding-left:280px;
    gap:30px;
    margin-top:7px ;
   background-color:rgb(228, 197, 207);
   
}
input[type="button"]{
    height:40px;
    width: 80px;
    border:1px solid black;
    background-color:rgb(211, 136, 211);
     margin-left:100px;
     border: none;
}
button{
    height:40px;
    width: 80px;
    border:1px solid black;
    background-color:rgb(211, 136, 211);
     margin-left:100px;
     border: none;
}
.img12{
    height:180px;
    width:250px ;
    margin-left:20px;
    margin-top:10px;
}
.img00{
  height:150px;
    width:160px ;
    margin-left:60px;
    margin-top:10px;
}
.box7 p{
  margin-left:90px;
  margin-top:15px;
  font-weight:bold ;
  font-size:20px;
}
.box7 a{
  margin-left:100px;
  font-weight: bolder;
  font-size:25px ;
}
.box5 p{
  margin-left:90px;
  margin-top:15px;
  font-weight:bold ;
  font-size:20px;

}
.box5 a{
  margin-left:100px;
  font-weight: bolder;
  font-size:25px ;
}
@media screen and (max-width:320px){
.box4{
  margin: auto;

 
}
.box6{
  margin: auto;
   
}
}
