body{
     width:100%;
     
}
.ss{
    /* background-color: rgb(216, 213, 213); */
    height:100vh;
    max-width:2000px;
    width: 100%; 
} 

.navbar-nav{
    margin-left:900px;
    gap:15px;
    position: fixed;
    right: 0;
}
.container-fluid{
    background-color:rgb(163, 163, 163);
    padding:20px; 
    margin-top:30px;
    position: fixed;
}
ul li a{
    font-size:16px;
    font-weight: bold;
    color:rgb(36,32,30);
}
ul li a:hover{
    color:red;
}
.skills{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2px;
}
.skillsection{
    display:grid;
    display: flex;
    grid-template-columns:1fr 1fr;
    grid-gap:10px 80px;
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
 flex-wrap: wrap;

}
 .skillsection .subject{

    font-size: 17px;
    font-weight:thin;
    color: rgb(68, 68, 178);
    padding-bottom:10px;
    /* text-transform:uppercase;
    letter-spacing:1px;  */
}
.progress_bar{
    width:600px;
    height: 16px;
    background-color: rgb(15, 228, 228);
    border-radius:15px;

}
.progress_line{
    position: relative;
   width: 400px;
    height: 100%;
    background-color: rgb(43, 70, 226);
    border-radius:15px;


}
.progress_line::after{
    position: absolute;
    content:attr(value);
    top:-35px;
    right:0px;
    transform:translateX(-50%);
    color:rgb(153, 67, 234);
    font-size: 17px;
    
}
h2{
/* text-align: center; */
padding-top:50px;
color: rgb(20, 20, 24);
}
h2:hover{
    color: blue;
}

@media screen and (max-width:320px) {

   .ss{
    margin: auto;
   }
    
}